@model PhotoFormModel

@{
    ViewData["Title"] = "Aggiungi foto";
    Layout = "_CustomLayout";
}

<section class="create-photo">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="py-4">Aggiungi nuova foto</h2>

                <!--Photo Create-->
                
                <form asp-controller="Photo" asp-action="Create" method="post">
                    @Html.AntiForgeryToken()

                    <!--img-->
                    <div class="form-group">
                        <label for="Pizza.Image">Inserisci immagine</label>
                        <input asp-for="Photo.ImgSrc" class="form-control" type="file" id="formFile">
                    </div>

                    <!--titolo-->
                    <div class="form-group col-6">
                        <label for="name">Titolo</label>
                        <input asp-for="Photo.Title" type="text" class="form-control" id="name" placeholder="Inserisci nome della pizza">
                        
                    </div>

                    <!--descrizione-->
                    <div class="form-group col-6">
                        <label for="price">Descrizione</label>
                        <textarea asp-for="Photo.Description" type="text" class="form-control" id="price" placeholder="Inserisci prezzo della pizza"> </textarea>
                        
                    </div>

                    <!--visibilità-->
                    <!-- 
                    <div class="form-group col-6">
                        <label for="price">Prezzo</label>
                        <input asp-for="Photo.IsVisible" type="text" class="form-control" id="isVisible" placeholder="Inserisci prezzo della pizza">
                       
                    </div>
                    -->

                    <!--Categorie foto-->
                    
                    <div class="mb-3">
                        <strong>Categorie:</strong>
                        @* <select asp-for="SelectedIngredients"
                        multiple="multiple"
                        size="10"
                        class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                        asp-items="@Model.Ingredients">
                        </select> *@
                        @for (int i = 0; i < Model.Categories.Count; i++)
                        {
                            <div>
                                <input type="checkbox" name="SelectedCategories" value="@Model.Categories[i].Value"
                                @(Model.SelectedCategories.Contains(Model.Categories[i].Value) ? "checked" : "") />
                                @Model.Categories[i].Text
                            </div>
                        }
                    </div>


                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
