@model List<Photo>
@{
    ViewData["Title"] = "Lista foto";
    Layout = "_CustomLayout";
}

<section class="photos-list text-center">

    <!-- intestazione pagina -->
    <h1>Benvenuto nel tuo album</h1>
    <h3>Lista foto</h3>


    
    <div class="container">
        <div class="row justify-content-center align-items-center">
            
            @if (Model == null || !Model.Any())
            {
                <p>Non si sono foto in questo album</p>
            }
            else
            {
                <!-- Card immagini -->
                @foreach (Photo itemPhoto in Model)
                {
                    <div class="col-4 p-2">
                        <div class="card" style="width: 18rem;">
                            @{
                                if (string.IsNullOrEmpty(itemPhoto.ImgSrc))
                                {
                                    <img src="~/img/ImageNotFound.png" class="card-img-top" alt="Image not found" />
                                }
                                else
                                {
                                    <img src="@Url.Content(itemPhoto.ImgSrc)" class="card-img-top" alt="Immagine di @itemPhoto.Title">
                                }
                            }
                           
                            <div class="card-body">
                                <h5 class="card-title">
                                    <strong>
                                        Titolo:
                                    </strong>
                                    @itemPhoto.Title
                                </h5>
                                <p class="card-text">
                                    <strong>
                                        Descrizione:
                                    </strong>
                                    @itemPhoto.Description
                                </p>
                                <a href="@Url.Action("Show", new {id = itemPhoto.Id})" class="btn btn-primary">Guarda</a>
                            </div>
                        </div>
                    </div>  
                }
            }

        </div>
    </div>
</section>


