@model Photo

@{
    ViewData["Title"] = "Dettaglio foto";
    Layout = "_CustomLayout";
}

<section class="show-photo">
    <div class="container">

        <!--Pulsante torna all'album-->

        <a href="@Url.Action("IndexPhoto", "Photo")" class="btn btn-primary">Torna all'album</a>

        <div>
            <!--Titolo foto-->
            <h2>
                Titolo:
                @Model.Title
            </h2>

            <!--foto-->
            @{
                if (string.IsNullOrEmpty(Model.ImgSrc))
                {
                    <img src="~/img/ImageNotFound.png" class="card-img-top" alt="Image not found" />
                }
                else
                {
                    <img src="@Url.Content(Model.ImgSrc)" class="card-img-top" alt="Immagine di @Model.Title">
                }
            }

            <!--Descrizione foto-->
            <p>
                <strong>
                    Descrizione
                </strong>
                @Model.Description
            </p>

            <!--Categorie foto-->
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-wrap gap-2">
                        @foreach (var itemCategory in Model.Categories)
                        {
                            @itemCategory.Name
                        }


                       @*  @foreach (var category in Model.Categories)
                        {
                            <div class="">
                                @category.Name
                            </div>
                        } *@
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>